@using System.Web.Mvc.Html
@using FormFactory
@using WebNoodle
@using System.Linq
@model INode
 
@if (Model.NodeMethods().Where(c => c.Allowed).Any())
{
    <div id="actions-@Model.Id">
        <ul>
            @foreach (var action in Model.NodeMethods().Where(c => c.Allowed))
            {
                <li style="display: block;"><a class="nodeActionsPanelLink" id="@(Model.Id)__@(action.Name)_actionlink">@action.DisplayName</a> </li>
            }
        </ul>
    </div>

            foreach (var command in Model.NodeMethods().Where(c => c.Allowed))
            {
    <div id="@(Model.Id)__@(command.Name)_actionlinkpanel" class="modal hide fade"   >
        <form action="@Model.Path?action=@command.Name" method="post" enctype="multipart/form-data" encoding="multipart/form-data">
        <div class="modal-header">
            <a href="#" class="close">×</a>
            <h3>@command.DisplayName</h3>
        </div>
        <div class="modal-body">
            @foreach (var parameter in command.Parameters)
            {
                var vm = new PropertyVm(Html, parameter.ParameterType, Model.Id + "_" + command.Name + "_" + parameter.Name, parameter.DisplayName)
                {
                    GetCustomAttributes = () => new Attribute[] { },
                    IsWritable = true,
                    Value = parameter.Value,
                    Choices = parameter.Choices,
                    Suggestions = parameter.Suggestions
                    
                };
                Html.RenderPartial("FormFactory/Form.Property", vm);

            }
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn primary" value="@command.DisplayName" />
        </div>
        </form>
    </div>
    <script type="text/javascript">
//        $('#@(Model.Id)__@(command.Name)_panel').modal({ keyboard: true, backdrop: true })
    </script>
            }
}
