@using WebNoodle.Example.Models
@using WebNoodle.Helpers
@model WebNoodle.Example.Models.ToDoList

@{
    ViewBag.Title = "ToDoList.cshtml";
}

<h2>ToDoList.cshtml</h2>
<div class="row">
    <div class="span4">@Html.Partial("WebNoodle/NodeActions")</div>
    <div class="span12">
        <h4>Tasks</h4>
        <ul>
            @foreach(var task in Model.Tasks)
            {
                <li>@task.Text</li>    
            }
        </ul>
        <h4>Users</h4>
        @{
            var x = Model;
        }
        @*@Html.DataTableFor(() => x.UsersVm, "Id", "Name", "Email")*@
        @helper Link (string email){
            <a href="@email">@email</a>
        }
        @Html.DataTableForX(() => x.Users, u => new {u.Id, Email = Link(u.Email), Name = "Mr" + u.Name })   
    </div>

</div>