@using WebNoodle
@using WebNoodle.Example.Models
@using WebNoodle.Helpers
@model WebNoodle.Example.Models.ToDoList
@{
    ViewBag.Title = "ToDoList.cshtml";
}
@helper MailToLink(string email)
    {
    <a href="@email">@email</a>
}
<h2>ToDoList.cshtml</h2>
<div class="row">
    <div class="span4">
        @Html.Partial("WebNoodle/NodeActions")
        @Html.Partial("WebNoodle/NodeActionsLinkScript")
    </div>
    <div class="span12">
        <h4>Tasks</h4>
        @helper Task(Task t)
        {
            <a href="@t.Path()">@t.Text</a>    <a href="#loadactions" class="nodeActionsLink pull-right" data-nodeid="@t.Id()" data-nodepath="@t.Path()" >(edit)</a>
        }
        @Html.Partial("DataTable", Html.DataTableVmFor(() => Model.Tasks, t => new { Task = Task(t).ToHtmlString() }))
        <h4>Users</h4>
        @Html.Partial("DataTable", Html.DataTableVmFor(() => Model.Users, u => new { Email = MailToLink(u.Email).ToHtmlString(), u.Name }))
    </div>
</div>
