@* Generator: MvcHelper *@
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Noodles
@using Noodles.Helpers
@helper NodeMethodsDropdown(object obj)
    { @NodeMethodsDropdown(obj, null) }
@helper NodeMethodsDropdown(object obj, string additionalClasses)
    { @NodeMethodsDropdown(obj, null, null) }
@helper NodeMethodsDropdown(object obj, string additionalClasses, string excludedMethodNamesCsv)
    {
        var excludedMethodNames = (excludedMethodNamesCsv ?? "").Split(',');
        var filteredNodeMethods = obj.NodeMethods().Where(nm => excludedMethodNames.Contains(nm.Name) == false);
        if (filteredNodeMethods.Any())
        {
    @BootstrapHelper.DropdownLinksButton("Actions",
                @<text>
    @foreach (var method in filteredNodeMethods)
    {
        @NodeMethodLink(method)
    }
    </text>, additionalClasses)
        }
}
@helper NodeMethodsMenuLink(object obj)
    { @NodeMethodsMenuLink(obj, null) }
@helper NodeMethodsMenuLink(object obj, string additionalClasses)
    { @NodeMethodsMenuLink(obj, additionalClasses, null) }
@helper NodeMethodsMenuLink(object obj, string additionalClasses, string excludedMethodNamesCsv)
    {
        var excludedMethodNames = (excludedMethodNamesCsv ?? "").Split(',');
        var nodeMethods = obj.NodeMethods();
        if (nodeMethods.Any(nm => excludedMethodNames.Contains(nm.Name) == false))
        {
    <a class="nodeMethodsMenuLink @(additionalClasses ?? "")" href="@nodeMethods.Path()" data-nodeid="@obj.Id()" data-excluded-methods="@excludedMethodNamesCsv">
        Actions</a>
        }
}
@helper NodeMethodLink(INodeMethod method)
    { @NodeMethodLink(method, null)}
@helper NodeMethodLink(INodeMethod method, string additionalClasses)
{
    <a class="nodeMethodLink @(additionalClasses ?? "") @(method.Target.NodeType().Name.ToLowerInvariant())-@(method.Name.ToLowerInvariant())" data-nodeid="@method.Id()" href="@method.Path()">@method.DisplayName</a>
}
@helper NodeMethodForm(System.Web.Mvc.HtmlHelper html, INodeMethod method, string formClass)
    {
    <div class="nodeMethod">
        @html.Partial("Noodles/NodeMethod", method, new ViewDataDictionary { { "FormClass", formClass ?? "" } })
    </div>
}
@helper NodeMethodForm(System.Web.Mvc.HtmlHelper html, INodeMethod method, string formClass, ViewDataDictionary dict)
    {
        dict = dict ?? new ViewDataDictionary();
        dict["FormClass"] = formClass;
    @NodeMethodForm(html, method, dict)
}
@helper NodeMethodForm(System.Web.Mvc.HtmlHelper html, INodeMethod method, ViewDataDictionary dict)
    {
        dict = dict ?? new ViewDataDictionary();
    <div class="nodeMethod">
        @html.Partial("Noodles/NodeMethod", method, dict)
    </div>
}
@helper NodeMethodFormInline(System.Web.Mvc.HtmlHelper html, INodeMethod method)
    {
    @NodeMethodFormInline(html, method, new ViewDataDictionary())
}
@helper NodeMethodFormInline(System.Web.Mvc.HtmlHelper html, INodeMethod method, ViewDataDictionary viewData)
    {
        viewData = viewData ?? new ViewDataDictionary();
        viewData.Add("Inline", true);
    @NodeMethodForm(html, method, "form-inline", viewData)
}
