@* Generator: MvcHelper *@
@using WebNoodle
@using WebNoodle.Helpers

@helper NodeActionsDropdown(object obj) { @NodeActionsDropdown(obj, null) }
@helper NodeActionsDropdown(object obj, string additionalClasses)
{
    if (obj.NodeMethods().Any())
    {
        @Bootstrap.DropdownLinksButton("Actions",
            @<text>
                @foreach (var method in obj.NodeMethods())
                {
                    @NodeMethodLink(method)
                }
            </text>)
    }
}
@helper NodeMethodsMenuLink(object obj) { @NodeMethodsMenuLink(obj, null) }
@helper NodeMethodsMenuLink(object obj, string additionalClasses) {
    <a class="nodeMethodsMenuLink @(additionalClasses ?? "")" href="#show actions" data-nodeid="@obj.Id()" data-nodemethodspath="@obj.Path()?action=getNodeMethods">Actions</a>
}
@helper NodeMethodLink(IObjectMethod method) { @NodeMethodLink(method, null)}
@helper NodeMethodLink(IObjectMethod method, string additionalClasses)
    {
    <a class="nodeMethodLink @(additionalClasses ?? "")" href="#@method.Name" data-nodeid="@method.Id()" data-nodepath="@method.Path()">@method.DisplayName</a>
}
