@using System.Web.Mvc
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using FormFactory
@using Noodles
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@model NodeProperty
@{
    var property = Model;
    var showAttribute = property.CustomAttributes.OfType<ShowAttribute>().SingleOrDefault();
}
<div data-node-property="@property.Name">
    @{
            
        var propertyVm = property.ToPropertyVm(Html);
        propertyVm.Readonly = true;
        <div data-node-getter="@property.Name">
            <div class="control-group">
                <label class="control-label">@property.DisplayName</label>
                <div class="controls">
                    @if(Model.IsCollection)
                    {
                        @Html.Partial("Noodles/Collection", Model)    
                    }else
                    {
                        @Html.BestProperty(property.ToPropertyVm(Html).Then(p => p.Readonly = true))
                    }

                </div>
            </div>
            @if (!property.IsCollection && !property.Readonly)
            {
                <a class="show-setter" href="#edit @property.DisplayName"><i class="icon-edit "></i></a>
            }
        </div>
        if (!property.IsCollection && !property.Readonly)
        {
                
        <div data-node-setter="@property.Name">
            @Html.Partial("Noodles/NodeMethod", property)
            <button class="btn btn-inverse hide-setter">Cancel</button>
        </div>
        }
    }
</div>
