@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Noodles
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@using Noodles.Models
@using Noodles.RequestHandling
@using FormFactory;
@model Noodles.Models.Resource
@{
    var walked = Model.AncestorsAndSelf.OfType<Resource>().Reverse();
}
@foreach (var ancestor in walked)
{
    ViewBag.ColsUsed = 0;
    if (ancestor.Children.Any())
    {
    <div class="navbar">
        <div class="navbar-inner">
            @if (ancestor.Parent == null)
            {
                <a class="brand" href="@ancestor.Url">@ancestor.DisplayName</a>
            }
            <ul class="nav">
                @foreach (var node in ancestor.Children)
                {
                    <li @Html.Raw(walked.Contains(node) ? "class=\"active\"" : "")><a href="@node.Url">@node.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
    }
    if (ancestor == Model)
    {
        @Html.BestPartial(Model, Model.Type, "Noodles/NodeBody.")
    }
}
