@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Noodles
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@using Noodles.Requests
@using FormFactory;
@model Noodles.Requests.Resource

<div class="noodles-object" data-resource-url="@Model.Url">
    <div class="row">
        <div class="span12">
            @if (Model.Ancestors.Any())
            {
                <ul class="breadcrumb" data-fragment-id="breadcrumb">
                    @foreach (var item in Model.Ancestors.Where(a => a is Resource).Reverse())
                    {
                        <li><a href="@item.Url">@item.DisplayName</a><span class="divider">/</span></li>
                    }
                    <li class="active" data-fragment-id="noodle-breadcrumb-name">@Model.DisplayName</li>
                </ul>
            }
            <div class="page-header noodles-object-name" data-fragment-id="noodle-object-name">
                <h1>@Model.DisplayName</h1>
            </div>

            <div class="noodles-properties">
                @foreach (var property in Model.NodeProperties)
                {
                    <div class="noodles-property" data-fragment-id="noodle-object-property-@property.DisplayName">
                        @Html.Partial("Noodles/NodeProperty", property)
                    </div>
                }
            </div>
            <div class="noodles-links" data-fragment-id="noodle-object-links">
                @foreach (var node in Model.Children)
                {
                    <span class="btn-toolbar">
                        @Html.Partial("Noodles/Link", node)
                    </span>
                }
            </div>
            <br />
            <div class="well" data-fragment-id="noodle-object-actions">
                @foreach (var method in Model.NodeMethods)
                {
                    @NoodlesHelper.NodeMethodLink(method, "btn")
                }
            </div>
        </div>
    </div>
</div>
