@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Noodles
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@using Noodles.Models
@using Noodles.RequestHandling
@using FormFactory;
@using Noodles.AspMvc.UiAttributes
@model Noodles.Models.Resource
<div class="noodles-object" data-resource-url="@Model.Url">
    <div class="row">
        <div class="span@(12 - (ViewBag.Indent ?? 0))">
            <div class="noodles-properties">
                
                @{
                    var groupedProperties = new List<NodeProperty>();
                    foreach (var property in Model.NodeProperties)
                    {
                        if (string.IsNullOrWhiteSpace(property.UiHint) && !property.Readonly)
                        {
                            groupedProperties.Add(property);
                            continue;
                        }
                        var viewNameStart = ("Noodles/NodeProperty" + (string.IsNullOrWhiteSpace(property.UiHint) ? "" : ("-" + property.UiHint)));
                        var viewName = Html.BestViewName(property.ValueType, viewNameStart + ".") ?? (viewNameStart + ".Object");
                        @Html.Partial(viewName, property)
                    }
                    if (groupedProperties.Any())
                    {
                        @Html.Partial("Noodles/NodeProperties", groupedProperties)
                    }
                       
                }
                

                @foreach(var link in Model.NodeLinks.Hinted("Inline"))
                {
                    var viewName = Html.BestViewName(link.TargetType, "Noodles/NodeBody.");
                    @Html.Partial(viewName, link.Target)   
                }
            </div>

            <br />
            @{
                var nodeMethods = Model.NodeMethods.Hinted("").ToArray();
                if (nodeMethods.Any())
                {
                    <div class="well" data-fragment-id="noodle-object-actions">
                        @foreach (var method in nodeMethods)
                        {
                            @NoodlesHelper.NodeMethodLink(method, "btn")
                        }
                        @foreach (var link in Model.NodeLinks.Hinted("MethodWell"))
                        {
                            <a class="btn" href="@link.Url">@link.Target.DisplayName</a>
                        }
                        @foreach (var link in Model.NodeLinks.Hinted("Modal"))
                        {
                            <a class="btn" data-modal="true" href="@link.Url">@link.Target.DisplayName</a>
                        }

                    </div>
                }
            }

        </div>
    </div>
</div>
