@using System.Web.Mvc
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using FormFactory
@using Noodles
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@model Noodles.Models.IInvokeable
@if (Model.Message != null)
{
    <p>@Model.Message</p>
}
<form action="@Model.InvokeUrl" method="post" enctype="multipart/form-data" encoding="multipart/form-data" class="@ViewBag.FormClass nodeMethod">
    @{ var nodeMethodReturnUrl = Request.Url.AbsolutePath; }
    @Html.Hidden("nodeMethodReturnUrl", nodeMethodReturnUrl)
    @if (Html.HasErrors(""))
    {
        <div class="result alert alert-error">
            <div class="message">
                @Html.AllValidationMessages("")
            </div>
        </div>
    }
   @if (Context.Request.IsAjaxRequest())
    {
        @Html.AntiForgeryToken()
    }
     @foreach (var parameter in Model.Parameters)
    {
        var vm = parameter.ToPropertyVm(Html);
        Html.RenderPartial("FormFactory/Form.Property", vm);
    }
    @if (ViewBag.UseIconSubmit == true)
    {
        <a class="submitMethod" href="#save"><i class="icon-ok"></i></a>
    }
    else
    {
        <button class="submitMethod btn btn-primary">@Model.InvokeDisplayName</button>
    }
</form>
