@using Noodles.AspMvc.Helpers
@using Noodles.Models
@model Noodles.Models.Resource
<div class="row">
    @{
        var nodeMethods = Model.ChildNodes.OfType<NodeMethod>();
        if (nodeMethods.Any())
        {

            <div class="col-md-4 node-actions-container">
                <h3 class="page-header">Actions</h3>
                @foreach (var method in nodeMethods)
                {
                    @NoodlesHelper.NodeLink(Html, method)
                }
            </div>
        }
        var readonlyProperties = Model.ChildNodes.OfType<NodeProperty>().Where(p => p.Readonly);
        if (readonlyProperties.Any())
        {
            <div class="col-md-8 node-properties-container">
                <h3 class="page-header">Properties</h3>
                @foreach (var property in readonlyProperties)
                {
                    @NoodlesHelper.NodeLink(Html, property)
                }
            </div>
        }

        var queryableCollections = Model.ChildNodes.OfType<QueryableChild>().ToArray();

        if (queryableCollections.Any())
        {
            <div class="col-md-8 node-properties-container">
                <h3 class="page-header">Children</h3>
               
                @foreach (var queryableCollection in queryableCollections)
                {
                    foreach (var item in queryableCollection.ResourceQueryable)
                    {
                        @NoodlesHelper.NodeLink(Html, item)
                    }
                }
            </div>
        }
        
        
        
        var parameters = Model.Parameters.ToArray();
                if (parameters.Any() || Model is NodeMethod)
                {
                <div class="col-md-8 node-form-container">
                
                    @{
                        var nodeMethod = Model as NodeMethod;
                        if (nodeMethod == null)
                        {
                            <h3 class="page-header">Update</h3>
                        }
                        
                    }
                    @NoodlesHelper.Form(Html, Model, parameters)
                </div>
                }
                }
            </div>


@*@foreach (var collection in Model.ChildNodes.OfType<NodeCollectionProperty>())
{
    @Html.Partial("Noodles/NodeCollection.Object", collection)  
}*@