@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Noodles
@using Noodles.AspMvc.Views.Shared.Layout
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@using Noodles.Models
@using Noodles.RequestHandling
@using FormFactory;
@using Noodles.AspMvc.UiAttributes
@model Noodles.Models.Resource
<div class="noodles-object" data-resource-url="@Model.Url">
    <div class="row">
        <div class="span@(12 - (ViewBag.Indent ?? 0))">
            <div class="noodles-properties">
                @foreach (var property in Model.NodeProperties.Where(x => x.Setter == null))
                {
                    <div class="noodles-property" data-fragment-id="noodle-object-property-@property.DisplayName">
                        @Html.Partial("Noodles/NodeProperty", property)
                    </div>
                }
                @foreach (var formGrouping in Model.GetFormGroups())
                { 
                    @Html.Partial("Noodles/NodeMethod", formGrouping)
                   
                }
                @foreach (var p in Model.GetSingleSettableProperies())
                {
                    ViewBag.UseIconSubmit = true;
                    <div class="noodles-property" data-fragment-id="noodle-object-property-@p.DisplayName">
                        @Html.Partial("Noodles/NodeProperty", p)
                    </div>
                }

                @foreach(var link in Model.Links.Hinted("Inline"))
                {
                    var viewName = Html.BestViewName(link.TargetType, "Noodles/NodeBody.");
                    @Html.Partial(viewName, link.Target)   
                }
            </div>

            <br />
            @{
                var nodeMethods = Model.NodeMethods.Hinted("");
                if (nodeMethods.Any())
                {
                    <div class="well" data-fragment-id="noodle-object-actions">
                        @foreach (var method in nodeMethods)
                        {
                            @NoodlesHelper.NodeMethodLink(method, "btn")
                        }
                    </div>
            }
            }

        </div>
    </div>
</div>
