@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Layout/Head.Top")
        <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap-overrides.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/modernizr-2.6.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-migrate-1.1.0.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.10.0.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="/Scripts/Noodles/Noodles.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="/Scripts/formfactory/formfactory.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.dynamic.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/Content/Noodles.AspMvc.css">
    <script src="/Scripts/jquery.signalR-1.0.0-rc2.js" type="text/javascript"></script>
    @Html.Partial("Layout/Head.Bottom")
</head>
<body style="margin-top: 40px">
    @Html.Partial("Layout/Body.Top")
        @Html.Partial("Layout/TopBar")
        <div class="container">
            @RenderBody()
        </div>
    <footer>
        @Html.Partial("Layout/Footer")
    </footer>
    @Html.Partial("Layout/Body.Top")
        
</body>
</html>
