@using System.Web.Mvc.Html
@using FormFactory
@using Noodles
@using Noodles.AspMvc.Helpers
@using Walkies
@model object
<div class="row">
    <div class="span12">

        <div class="page-header">
            <h1>@Model.GetName()</h1>
        </div>
        @if  (Model.Ancestors().Any())
        {
            <ul class="breadcrumb">
                @foreach (var item in Model.Ancestors().Reverse())
                {
                    <li><a href="@item.Url()">@item.GetName()</a>
                        <span class="divider">/</span></li>
                }
                <li class="active">@Model.GetName()</li>
            </ul>
        } 
        <div class="noodles-properties-region">
            @foreach(var property in Model.NodeProperties())
        {
            var vm = property.ToPropertyVm(Html);
                @Html.Partial("FormFactory/Form.Property", vm, ViewData);
            }
        </div>
        <div class="noodles-links-region">
            @foreach(var group in Model.KnownChildren().GroupBy(o => o.GetType()))
            {
                <h4>@Noodles.TextExtensions.Sentencise(group.Key.Name)s</h4>
            <span class="btn-toolbar">@foreach (var node in group)
                                          {
                                              @Html.BestPartial(node, group.Key, "Link.")
                                          }
            </span>
            }
        </div>
        <br />
        <div class="well">
            @foreach(var method in Model.NodeMethods())
            {
                @NoodlesHelper.NodeMethodLink(method, "btn")
            }
        </div>
    </div>
</div>
